# fly.toml app configuration file generated for champollion-frontend on 2025-12-09T11:15:54+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'champollion'
primary_region = 'cdg'

[build]
  dockerfile = 'Dockerfile'

  [build.args]
    VITE_API_BASE_URL = 'https://champollion-api.fly.dev'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
